// media query approach variable
$var-media-query-approach: "desktop-first";

// typography
:root {
  --font-size-document: 16px;
}

// weights: 400, 700
$var-font-weight: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
);

// variables colores
$var-colors: (
  "main-orange": (
    "display-p3": color(display-p3 1 0.5 0),
    "srgb": #ffa500,
  ),

  "main-black": (
    "display-p3": color(display-p3 0 0 0),
    "srgb": #000,
  ),

  "main-grey": (
    "display-p3": color(display-p3 0.5 0.5 0.5),
    "srgb": #808080,
  ),

  "main-white": (
    "display-p3": color(display-p3 1 1 1),
    "srgb": #fff,
  ),
);

$var-breakpoint-code-values: (sm, md, lg, xl, xxl);

$var-breakpoint-values: (
  "sm": 36rem,
  // Mobile devices in portrait mode
  "md": 48rem,
  // Tablets in portrait and landscape mode
  "lg": 62rem,
  // Common desktop monitors and laptops
  "xl": 75rem,
  // Large standard desktop monitors
  "xxl": 87.5rem,
  // Big monitors, high resolution screens
);

$var-data-maps: (
  font-weight: $var-font-weight,
  colors: $var-colors,
  breakpoint-code-values: $var-breakpoint-code-values,
  breakpoint-values: $var-breakpoint-values,
);
