@use "sass:map";
@use "../base/variables" as v;

.footer {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 10%;

    @media (width <= 700px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
  }

  &__header {
    font-size: 1rem;
  }

  &__info {
    font-size: 0.8rem;
  }

  &__link {
    color: map.get(map.get(v.$var-colors, "main-black"), "srgb");

    @supports (color: color(display-p3 1 1 1)) {
      color: map.get(map.get(v.$var-colors, "main-black"), "display-p3");
    }

    &:hover {
      color: map.get(map.get(v.$var-colors, "main-orange"), "srgb");

      @supports (color: color(display-p3 1 1 1)) {
        color: map.get(map.get(v.$var-colors, "main-orange"), "display-p3");
      }
    }
  }
}
