.gallery {
  &-item {
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    :is(img) {
      width: 100%;
      height: 200px; /* Ajusta la altura según tus necesidades */
      object-fit: cover;
      border-radius: 5px; /* Opcional: Añadir bordes redondeados */
      display: block; /* Asegura que las imágenes se comporten como bloques */
    }
  }
}
