@use "sass:map";
@use "../base/variables" as v;

.navbar-container {
  height: 100%;
  padding: 0;

  :is(.container-fluid, .navbar-nav) {
    height: 100%;
    background-color: map.get(map.get(v.$var-colors, "main-blue"), "srgb");

    @supports (color: color(display-p3 1 1 1)) {
      background-color: map.get(map.get(v.$var-colors, "main-blue"), "display-p3");
    }
  }

  .navbar-nav {
    padding: 0 20px;
  }

  &__collapse {
    justify-content: flex-end;
  }

  .navbar-toggler {
    transform: scale(0.7);
  }
}
