@use "sass:map";
@use "../base/variables" as v;

.highlighted-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: map.get(map.get(v.$var-colors, "main-white"), "srgb");

  @supports (display: grid) {
    display: grid;
    place-items: center;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;

    &__content {
      grid-row: 2 / 3;
      display: grid;
      gap: 1rem;
    }
  }

  @supports (color: color(display-p3 1 1 1)) {
    color: map.get(map.get(v.$var-colors, "main-white"), "display-p3");
    text-shadow: 1px 1px 2px map.get(map.get(v.$var-colors, "main-black"), "display-p3");
  }
}
